:root {
  --yt-spec-10-percent-layer: #8b8b8b; 
}

.menu-header {
  display: flex;
  padding: 10px;
  gap: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 22px;
}

.menu-option {
  margin-top: 15px;
  color: white;
  display: flex;
  gap: 15px;
}
.menu-separator {
  margin-top: 10px;
  border-bottom: 1px solid var(--yt-spec-10-percent-layer);
}

.menu-options {
  padding-left: 10px;
}
.menu-option:hover {
  color: #303030;
  background-color: #979797;
  cursor: pointer;
}

.menu-icon {
  margin-right: 3%;
  font-size: 20px;
}

.drawer {
  position: fixed;
  background-color: #444444;
  
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  

}

.drawer.open {
  transform: translateX(0);
  z-index: 1
  
  
}

.drawer.top {
  transform: translateY(-100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  
  
}

.drawer.open.top {
  transform: translateY(0%);
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  
}

.drawer.bottom {
  transform: translateY(100%);
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  
  
}

.drawer.open.bottom {
  transform: translateY(0%);
  
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.drawer.right {
  transform: translateX(100%);
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
}

.drawer.open.right {
  transform: translateX(0);
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
}


.right-menu {
  position: fixed;
  right: 0;
  color: white;

  .menu-header {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    gap: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
  }
  
}

.top-menu {
  position: fixed;
  top: 0;

  
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  .drawer {
    position: fixed;
    
    
    bottom: 0;
 
    
    display: flex;
    flex-direction: column-reverse;
    
  
  }
}

.flex-con {
  display: flex;

}

